
*{
    margin:0px;
    padding: 0px;
}

body{
    /* color gradual en recta, se considera comouna imagen, porvtanto utilizamos
        esta propiedad, en un principio no se ve el degradado porque no tenemos contenido */
   background-image: linear-gradient(to right, gray, black);
   color:white;     /* color letra */
}

div.contenedor {
    width: 95%;
    height: 100vh;  /* altura al 100 */
    margin: 5px auto;
}
/* capa nav esta dentro del div */
div nav{
    height: 50px;
    line-height: 50px;  /* centrar texto vertical tomando como referencia altua del nav */
    padding-left: 50px;
    font-weight: bold;
    font-size: 1.2em;
}

div nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a:hover{
    /* cuando pasamos sobre los enlces apareceel subrayado y en color rojo intenso */
    text-decoration: underline;
    color:tomato;
}
div section {
    padding: 30px;
}
div section p{
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    color:yellow;
}
/* cuando queremos afectar elementos del mismo tipo, se separan con coma */
h1, h2{
    margin-bottom: 5px;
    margin-top: 5px;
    color: blue;
}